@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(207, 205, 205);
  color: black;
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: "Foldit", sans-serif;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 20px;
}

p {
  color: white;
  background-color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 60px;
  padding: 10px;
  font-size: 40px;
  color: red; 
  border: 2px solid white;
  border-radius: 5px;
}

button {
  display: none;
  margin: 5% auto;
  padding: 10px 20px;
  font-size: 20px;
  color: blue; 
  background-color: yellow;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: yellow; 
}

#countdown h2 {
  font-size: 100px;
  color: blue; 
  margin: 20px 0;
}

#result h3 {
  font-size: 20px;;
  margin: 10px;
}

#result span {
  font-weight: bold;
  color: red;
  font-size: 50px;
}

#result h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.exito{
  color: green; 
}
.fracaso{
  color: red;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los modales */
.modal {
  display: none; /*Oculto por defecto*/
  position: fixed;
  /*que empiece arriba izquierda*/
  left: 0; 
  top: 0;
   /*y cubra el 100% de la ventana */
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4); /*importante el 4to valor que es la transparencia*/
}

.modal-content {
  background-color: white;
  margin: 5% auto; /*5% margin arriba y abajo respecto al contenedor; auto derecha/izquierda*/
  padding: 20px;
  border: 1px solid grey;
  width: 80%; /* define el ancho del elemento como el 80% del contenedor principal */
  max-width: 500px;
}

.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: black;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
